/*
 * -------------------------------------------------
 *  Nextflow config file for running dataset
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'data profile'
  config_profile_description = ''

  // Input data
  single_end = false
  input_paths = [
    ['Colon_Normal_Primary_REP1', ['/datastore/NGSF001/datasets/bisulfite_seq/Colon_Normal_Primary/SRR949213_1.fastq.gz','/datastore/NGSF001/datasets/bisulfite_seq/Colon_Normal_Primary/SRR949213_2.fastq.gz']],
    ['Colon_Normal_Primary_REP2', ['/datastore/NGSF001/datasets/bisulfite_seq/Colon_Normal_Primary/SRR949214_1.fastq.gz','/datastore/NGSF001/datasets/bisulfite_seq/Colon_Normal_Primary/SRR949214_2.fastq.gz']],
    ['Colon_Tumor_Primary_REP1', ['/datastore/NGSF001/datasets/bisulfite_seq/Colon_Tumor_Primary/SRR949210_1.fastq.gz','/datastore/NGSF001/datasets/bisulfite_seq/Colon_Tumor_Primary/SRR949210_2.fastq.gz']],
    ['Colon_Tumor_Primary_REP2', ['/datastore/NGSF001/datasets/bisulfite_seq/Colon_Tumor_Primary/SRR949211_1.fastq.gz','/datastore/NGSF001/datasets/bisulfite_seq/Colon_Tumor_Primary/SRR949211_2.fastq.gz']]
  ]

  genome = 'GRCh38'
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}
