/*
 * -------------------------------------------------
 *  Nextflow config file for running dataset
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test_full,<docker/singularity>
 */

params {
  config_profile_name = 'Full test profile'
  config_profile_description = 'Full test dataset to check pipeline function'

  // Input data
  single_end = false
  input_paths = [
    ['Colon_Normal_Primary',
      [ 's3://nf-core-awsmegatests/methylseq/input_data/SRR7961089_GSM3415653_MShef11_bulk_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961089_GSM3415653_MShef11_bulk_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ],
    ],
    ['Colon_Tumor_Primary',
      [
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961103_GSM3415667_MShef11_low_oxygen_Q2_BSseq_Homo_sapiens_Bisulfite-Seq_1.fastq.gz',
        's3://nf-core-awsmegatests/methylseq/input_data/SRR7961103_GSM3415667_MShef11_low_oxygen_Q2_BSseq_Homo_sapiens_Bisulfite-Seq_2.fastq.gz'
      ]
  ]

  genome = 'GRCh38'
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}
